In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [47]:
base_url = 'https://mkwrs.com/mk8/display.php?track='
courses = list(['Mario+Kart+Stadium', 'Water+Park', 'Sweet+Sweet+Canyon', 'Thwomp+Ruins', 'Mario+Circuit', 'Toad+Harbor', 'Twisted+Mansion', 'Shy+Guy+Falls', 'Sunshine+Airport', 'Dolphin+Shoals', 'Electrodrome', 'Mount+Wario', 'Cloudtop+Cruise', 'Bone-Dry+Dunes', 'Bowser%27s+Castle', 'Rainbow+Road', 'Wii+Moo+Moo+Meadows', 'GBA+Mario+Circuit', 'DS+Cheep+Cheep+Beach', 'N64+Toad%27s+Turnpike', 'GCN+Dry+Dry+Desert', 'SNES+Donut+Plains+3', 'N64+Royal+Raceway', '3DS+DK+Jungle', 'DS+Wario+Stadium', 'GCN+Sherbet+Land', '3DS+Music+Park', 'N64+Yoshi+Valley', 'DS+Tick-Tock+Clock', '3DS+Piranha+Plant+Slide', 'Wii+Grumble+Volcano', 'N64+Rainbow+Road'])

In [48]:
mk_data = []
for course in courses:
    url = base_url + course
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')
    mk_data.append((course, tr_elements))

In [7]:
#check lengths of rows for one course
[len(T) for T in mk_data[0][1]]

[14,
 14,
 5,
 3,
 0,
 3,
 3,
 3,
 3,
 3,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 3,
 0,
 3,
 3,
 3,
 3,
 3,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14]

In [95]:
final_col = []

for data in mk_data:
    col = []
    tr_elements = list(data[1])
    x = 0
    
    for t in tr_elements[0]:
        x+=1
        name=t.text_content()
#        print('%d: "%s"'%(i,name))
        col.append((name,[]))

        
    for j in range(1, len(tr_elements)):
        T = tr_elements[j]
        if len(T) != 14:
            continue
    
        i = 0
    
        for t in T.iterchildren():
            value=t.text_content()
            if i > 0:
                try:
                    value = int(value)
                except:
                    pass
            col[i][1].append(value)
            i+=1
    final_col.append((data[0], col))
#    print([len(C) for (title,C) in col])
#print(len(final_col))

In [106]:
column_labels = []
sample = list(mk_data[0][1])
for t in sample[0]:
    column_labels.append(t.text_content())
column_labels.append("course")

In [118]:
full_mk_data_df = pd.DataFrame(columns=column_labels)
for data in final_col:
    Dict={title:column for (title, column) in data[1]}
    df = pd.DataFrame(Dict)
    course_name_series = pd.Series(data[0], index= range(len(df)))
    df['course'] = course_name_series
    full_mk_data_df = full_mk_data_df.append(df, ignore_index=True)
full_mk_data_df.drop(full_mk_data_df[full_mk_data_df["Time"]=="Time"].index, inplace=True)
full_mk_data_df = full_mk_data_df.reset_index(drop=True)
full_mk_data_df

,Date,Time,Player,Nation,Days,Lap 1,Lap 2,Lap 3,Coins,Shrooms,Character,Kart,Tires,Glider,course
0,2019-03-25,"1'34""042",Rai-Oh,,344,32.410,30.909,30.723,8-2-0,1-1-1,Dry Bowser,Streetle,Cyber Slick,Gold Glider,Mario+Kart+Stadium
1,Pre-release,"1'41""704",Seboss,,<1,35.096,33.352,33.256,8-2-0,1-1-1,Morton,Gold Standard,Slick,MKTV Parafoil,Mario+Kart+Stadium
2,2014-05-30,"1'41""697",しゆう,,<1,35.056,33.415,33.226,8-1-1,1-1-1,Morton,Gold Standard,Slick,Parafoil,Mario+Kart+Stadium
3,2014-05-30,"1'41""602",Seboss,,<1,35.089,33.253,33.260,8-2-0,1-1-1,Morton,Gold Standard,Slick,MKTV Parafoil,Mario+Kart+Stadium
4,2014-05-30,"1'41""408",Roy03,,<1,34.713,33.310,33.385,8-2-0,1-1-1,Morton,Circuit Special,Cyber Slick,MKTV Parafoil,Mario+Kart+Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2660,2016-08-24,"1'16""624",Aloocks,,<1,26.566,23.534,26.524,4-3-1,0-2-1,Morton,Streetle,Cyber Slick,Gold Glider,N64+Rainbow+Road
2661,2016-08-24,"1'16""532",Sgt. Guy,,516,26.500,23.566,26.466,5-3-1,0-2-1,Morton,Streetle,Cyber Slick,Super Glider,N64+Rainbow+Road
2662,2018-01-22,"1'16""497",Amar,,319,26.666,23.384,26.447,5-3-1,0-2-1,Dry Bowser,Streetle,Slick,Paper Glider,N64+Rainbow+Road
2663,2018-12-07,"1'16""431",Amar,,162,26.483,23.600,26.348,5-3-1,0-2-1,Dry Bowser,Streetle,Slick,Paper Glider,N64+Rainbow+Road
2664,2019-05-18,"1'16""407",Amar,,290,26.483,23.567,26.357,5-3-1,0-2-1,Bowser,Streetle,Slick,Gold Glider,N64+Rainbow+Road