In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [47]:
base_url = 'https://mkwrs.com/mk8/display.php?track='
courses = list(['Mario+Kart+Stadium', 'Water+Park', 'Sweet+Sweet+Canyon', 'Thwomp+Ruins', 'Mario+Circuit', 'Toad+Harbor', 'Twisted+Mansion', 'Shy+Guy+Falls', 'Sunshine+Airport', 'Dolphin+Shoals', 'Electrodrome', 'Mount+Wario', 'Cloudtop+Cruise', 'Bone-Dry+Dunes', 'Bowser%27s+Castle', 'Rainbow+Road', 'Wii+Moo+Moo+Meadows', 'GBA+Mario+Circuit', 'DS+Cheep+Cheep+Beach', 'N64+Toad%27s+Turnpike', 'GCN+Dry+Dry+Desert', 'SNES+Donut+Plains+3', 'N64+Royal+Raceway', '3DS+DK+Jungle', 'DS+Wario+Stadium', 'GCN+Sherbet+Land', '3DS+Music+Park', 'N64+Yoshi+Valley', 'DS+Tick-Tock+Clock', '3DS+Piranha+Plant+Slide', 'Wii+Grumble+Volcano', 'N64+Rainbow+Road'])

In [48]:
mk_data = []
for course in courses:
    url = base_url + course
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')
    mk_data.append((course, tr_elements))

In [7]:
#check lengths of rows for one course
[len(T) for T in mk_data[0][1]]

[14,
 14,
 5,
 3,
 0,
 3,
 3,
 3,
 3,
 3,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 3,
 0,
 3,
 3,
 3,
 3,
 3,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14]

In [25]:
test = list(mk_data[0][1])
for t in test[0]:
    print(t.text_content())

Date
Time
Player
Nation
Days
Lap 1
Lap 2
Lap 3
Coins
Shrooms
Character
Kart
Tires
Glider

In [86]:
final_col = []
column_labels = []
for data in mk_data:
    col = []
    tr_elements = list(data[1])
    x = 0
    
    for t in tr_elements[0]:
        x+=1
        name=t.text_content()
#        print('%d: "%s"'%(i,name))
        col.append((name,[]))
    column_labels.append(name)
        
    for j in range(1, len(tr_elements)):
        T = tr_elements[j]
        if len(T) != 14:
            continue
    
        i = 0
    
        for t in T.iterchildren():
            value=t.text_content()
            if i > 0:
                try:
                    value = int(value)
                except:
                    pass
            col[i][1].append(value)
            i+=1
    final_col.append((data[0], col))
#    print([len(C) for (title,C) in col])
#print(len(final_col))

In [81]:
data = final_col[0]
Dict={title:column for (title, column) in data[1]}
df = pd.DataFrame(Dict)
course_name_series = pd.Series(data[0], index=range(len(df)))
print("df: ", len(df),"series: ", len(course_name_series))

df:  89 series:  89

In [89]:
column_labels.append("course")
full_mk_data_df = pd.DataFrame(columns=column_labels)
for data in final_col:
    Dict={title:column for (title, column) in data[1]}
    df = pd.DataFrame(Dict)
    course_name_series = pd.Series(data[0], index= range(len(df)))
    df['course'] = course_name_series
#    full_mk_data_df = full_mk_data_df.append(df)
print(column_labels)
print(df.columns)
print(full_mk_data_df.columns)
#full_mk_data_df

TypeError: 'NoneType' object is not iterable

In [53]:
df

,Date,Time,Player,Nation,Days,Lap 1,Lap 2,Lap 3,Coins,Shrooms,Character,Kart,Tires,Glider
0,2018-11-24,"1'55""099",Danny,,465,39.445,37.862,37.792,10-0-0,1-1-1,Wario,Streetle,Slick,Super Glider
1,Date,Time,Player,Nation,Days,Lap 1,Lap 2,Lap 3,Coins,Shrooms,Character,Kart,Tires,Glider
2,Pre-release,"2'03""968",Jerem,,<1,42.595,40.723,40.650,10-0-0,1-1-1,Morton,Mach 8,Slick,Super Glider
3,2014-05-30,"2'03""743",なつ,,<1,42.338,40.730,40.675,10-0-0,1-1-1,Bowser,Circuit Special,Slick,Super Glider
4,2014-05-30,"2'03""428",なつ,,<1,42.186,40.558,40.684,10-0-0,1-1-1,Bowser,Circuit Special,Slick,Super Glider
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2017-12-11,"1'55""246",Diogo,,159,39.555,37.886,37.805,10-0-0,1-1-1,Dry Bowser,Streetle,Slick,Super Glider
73,2018-05-19,"1'55""198",Alberto,,186,39.518,37.885,37.795,10-0-0,1-1-1,Bowser,Streetle,Slick,Plane Glider
74,2018-11-21,"1'55""186",Danny,,3,39.367,38.001,37.818,10-0-0,1-1-1,Dry Bowser,Streetle,Slick,Super Glider
75,2018-11-24,"1'55""156",Danny,,<1,39.395,37.933,37.828,10-0-0,1-1-1,Bowser,Streetle,Slick,Gold Glider
76,2018-11-24,"1'55""099",Danny,,465,39.445,37.862,37.792,10-0-0,1-1-1,Wario,Streetle,Slick,Super Glider